<html>
   <center>
      <body>
         <h2> Edit existing students grades  </h2>
         <form action = "http://localhost:5000/result" method = "POST">
            <p>Student Name <input type = "text" name = "Name", value = {{sname}} /></p>
            <p>Physics <input type = "text" name = "Physics" /></p>
            <p>Chemistry <input type = "text" name = "chemistry" /></p>
            <p>Maths <input type ="text" name = "Mathematics" /></p>
            <p><input type = "submit" value = "Submit Grades" /></p>
         </form>
   
      </body>
      <br>
      <br>
      <body>
         <form id ="form_s" action = "http://localhost:5000/fulllist" method = "GET">
            <p><input type = "submit"  style="background-color:lightgreen; font-size : 20px; width: 70%; height: 60;" value = "Get Grades of all Students"  /></p> 
         </form>
      </body>



      

      <br>

      <form action="http://localhost:5000/">
      <p><input type = "submit"  style="background-color:rgb(146, 144, 238); font-size : 14px; width: 70%; height: 30;" value = "Go to Homepage"  /></p> 
      </form>
   </center>
</html>
