<html>
 
   <center>
   <body>
      <h2> Edit existing students grades  </h2>
      <form action = "http://localhost:5000/result" method = "POST">
         <p>Student Name <input type = "text" name = "Name" /></p>
         <p>Physics <input type = "text" name = "Physics" /></p>
         <p>Chemistry <input type = "text" name = "Chemistry" /></p>
         <p>Maths <input type ="text" name = "Mathematics" /></p>
         <p><input type = "submit" value = "Submit Grades" /></p>
      </form>
   </body>
   </center>
   <br>
   <br>
 

   <body>
      <center>
      <form id ="form_s" action = "http://localhost:5000/" method = "GET">
         <p><input type = "submit"  style="background-color:rgb(238, 147, 144); font-size : 20px; width: 70%; height: 60;" value = "Homepage"  /></p> 
      </form>
      </center>
   </body>
   
</html>
