<html>
   <center>
      <body>
         <h2> Edit existing students grades  </h2>
         <form action = "{{ url_for('result')}}" method = "POST">
            <p>Student Name <input type = "text" name = "Name", value = {{sname}} /></p>
            <p>Physics <input type = "text" name = "Physics" value = {{obj.Physics}} /></p>
            <p>Chemistry <input type = "text" name = "Chemistry" value = {{obj.Chemistry}} /></p>
            <p>Maths <input type ="text" name = "Mathematics" value = {{obj.Mathematics}} /></p>
            <p><input type = "submit" value = "Submit Grades" /></p>
         </form>
   
      </body>
      <br>
      <br>
      <body>
         <form id ="form_s" action = "{{ url_for('fulllist')}}" method = "GET">
            <p><input type = "submit"  style="background-color:lightgreen; font-size : 20px; width: 70%; height: 60;" value = "Get Grades of all Students"  /></p> 
         </form>
      </body>



      

      <br>

      <form action="{{ url_for('student')}}">
         <p><input type = "submit"  style="background-color:rgb(146, 144, 238); font-size : 18px; width: 70%; height: 50;" value = "Go to Homepage"  /></p> 
     </form>
   </center>
</html>
