<html>
   <body>
       <center>
      <p>
         <h2>List of Students and Grades</h2>
         <table border = 1>
            {% for ttl in headings %}
                <td> {{ ttl }} </td>
            {% endfor %}
            {% for key, value in dict.items() %}
            <tr>

                            {% for sub, grade in value.items() %}
                                {% if sub == 'Name' %}
                                    <td > <a href="http://localhost:5000/studenteditlink/{{key}}">{{ grade }}</a> </td>
                                {%else%}
                                    <td> {{ grade }} </td>
                                {%endif%}

                            {% endfor %}
            </tr>
            {% endfor %}
            
         </table>
      </p>
      </center>
   </body>

   <br><br><br>
    <center>
        <form action="http://localhost:5000/">
            <p><input type = "submit"  style="background-color:rgb(146, 144, 238); font-size : 18px; width: 70%; height: 50;" value = "Go to Homepage"  /></p> 
        </form>
    </center>

<html>