<html>
   <head>
      <style>
      h2s {text-align: center;}
      </style>
      </head>

   <center>
   <body>
   <h1>Add new student and grades </h1>

      <form action = "http://localhost:5000/result" method = "POST">
         <p>Student Name <input type = "text" name = "Name" /></p>
         <p>Physics <input type = "text" name = "Physics" /></p>
         <p>Chemistry <input type = "text" name = "Chemistry" /></p>
         <p>Maths <input type ="text" name = "Mathematics" /></p>
         <p><input type = "submit" value = "Submit Grades" /></p>
      </form>
   </body>
</center>
   <br>
   <br>
   <center>
   <body>
      <form id ="form_s" action = "http://localhost:5000/fulllist" method = "GET">
         <p><input type = "submit"  style="background-color:lightgreen; font-size : 20px; width: 70%; height: 60;" value = "Get Grades of all Students"  /></p> 
      </form>
   </body>
   </center>



</html>
